:root {
  /* Font */
  --font-logo: 'Raleway', sans-serif;
  --font-family: 'Roboto', sans-serif;

  /* Color */
  --main-color-txt: #757575;
  --secondary-color-txt: #212121;
  --accent-color-txt: #ffffff;

  --icons-color: #afb1b8;
  --backlight-color: #2196f3;
  --background-color: #2f303a;
  --logo-dark: #000000;

  --background-btn: #f5f4fa;
}
