@media screen and (min-width: 1200px) {
  .client {
    padding: 94px 0;
  }
  .client__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
  .client__link {
    width: 170px;
  }
}
