.contacts-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.contacts-header__phone {
  display: block;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: var(--backlight-color);
}

.contacts-header__mail {
  display: block;
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--main-color-txt);
}
