.command {
  padding: 60px 0;
  background-color: var(--background-btn);
}

.command__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--secondary-color-txt);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
}
